#header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}
#header-logo{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height bestämmer storlek på ikonen */
    height: 4rem;
    margin-right: 20px;
    /* Ser mer centrerat ut med lite mer margin-left */
    margin-left: 40px;
}
#header-logo h1{
    margin-left: 10px;
}
#header-slot{
    grid-column: 3;
}