#loadingScreen{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loadingAnimation{
    width: 200px;
    height: 200px;
    /* Animationen har mycket white-space runt sig */
    margin-top: -10%;
    margin-bottom: -40px;
}
#loadingScreen h2{
    margin-bottom: 50px;
    font-weight: 400;
}
#loadingScreen .text-animation{
    scale: 0;
}
    #loadingScreen .text-animation.show{
        animation: "scale" 400ms var(--easing-underdamped) forwards;
    }