#modal-container{
    position: fixed; inset: 0;
    z-index: 2;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}
#password-prompt{    
    display: block;
    width: 100%;
    max-width: 18rem;
    padding: 40px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 60px var(--black);
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    background-color: white;
}
.input-group{
    margin-bottom: 30px;
}
#password-input{
    display: block;
    width: 100%;
    max-width: 12rem;
    margin: auto;
    border: 1px solid gray;
    border-radius: var(--border-radius);
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
}
#remember-input{
    margin-left: 10px;
}
#password-prompt .buttons{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#password-prompt .buttons > button{
    margin: 10px;
    font-size: 1rem;
    padding: 6px 16px;
}