form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: var(--animation-page-transition);
}
label, fieldset{
    margin-top: 50px;
}
#url, #notes, .days{
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

#url, #notes{
    font-family: inherit;
    color: var(--black);
    text-align: center;
    width: 40rem;
    max-width: 100%;
    margin: auto;
    padding: 8px;        
}

.days{
    padding: 20px;
}
legend{
    margin: auto;
}

.day-button{
    display: inline-block;
    background-color: transparent;
    color: var(--black);
    border: 2px solid;
    outline: 2px solid;
    outline-offset: -2px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 12px;
    margin: 20px;

    transition: outline-offset 100ms ease-out;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + .day-button{
    outline-offset: -8px;
}
.submit{
    margin-top: 80px;
}