@keyframes blur-in {
    from{
        opacity: 0.5;
        filter: blur(4px);
    }
    to{
        opacity: 1;
        filter: blur(0) 
    };
}

.recipePreview{
    width: 16rem;
    margin: 8px;
}
.card{
    height: 8rem;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 0 4px #7b7b7b;        

    display: grid;
    /* Kolumn 2 måste ha min 0 för att inte trycka ihop kolumn 1 (bilden) */
    grid-template-columns: 1fr minmax(0, 1fr);
    text-decoration: none;
    color: black;

    animation: blur-in 200ms ease-out;
}
    .card.loading{
        background-color: coral;
    }

.image{
    /* height:100% fungerar inte i Safari */
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    padding-left: 10px;
}
.title{
    font-family: "Merienda";
    font-weight: 700;
    font-size: 0.9rem;
    --text-lines: 2;
    margin-bottom: 6px;
}
.description{
    font-family: "Merienda";
    font-weight: 400;
    font-size: 0.75rem;
    color: #373737;
    --text-lines: 4;         
}
.title, .description{
    /* Bryter av text som är för lång */
    display: -webkit-box !important;
    -webkit-line-clamp: var(--text-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.notes{        
    height: 2em;
    margin-top: 4px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    stroke: var(--black);
    stroke-width: 1.5;
}
.notes span{
    margin-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Loading */

.loading span{
    display: block;
    background-color: lightgray;
}
.loading .textContainer span{
    border-radius: 50px;
    margin: 5px 0;
}
.loading .title{
    height: 1rem;
}
.loading .description span{
    height: 0.5rem;
}