form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: var(--animation-page-transition);
}
label, fieldset{
    margin-top: 50px;
}
.animated-select{
    font-size: 1rem;
    color: var(--black);
    min-width: 100px;
    height: 2.5em;
}
    .animated-select .loading-indicator > span{
        display: inline-block;
        margin: 0 0.3rem;
        vertical-align: middle;
        color: inherit;
        font-size: inherit;
        font-weight: 900;
        animation-name: jump;
        animation-duration: 500ms;
        /* Måste vara linear eftersom endast animationen inte sker mellan 0% och 100% */
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes jump {
        50%{ transform: translateY(0);}
        100%{ transform: translateY(-5px); }
    }
.animated-select select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    font-size: inherit;    
    color: inherit;
    text-align: center;
    animation: var(--animation-page-transition);
    animation-duration: 2s;
}
#url, #notes, .animated-select, .days{
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

#url, #notes{
    font-family: inherit;
    color: var(--black);
    text-align: center;
    width: 40rem;
    max-width: 100%;
    margin: auto;
    padding: 8px;        
}

.days{
    padding: 20px;
}
legend{
    margin: auto;
}

.day-button{
    display: inline-block;
    background-color: transparent;
    color: var(--black);
    border: 2px solid;
    outline: 2px solid;
    outline-offset: -2px;
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 12px;
    margin: 20px;

    transition: outline-offset 100ms ease-out;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + .day-button{
    outline-offset: -8px;
}
.submit{
    margin-top: 80px;
}