@font-face{
    font-family: "Fugaz One";
    src: url("fonts/FugazOne-Regular.ttf");
}
@font-face{
    font-family: "Courgette";
    src: url("fonts/Courgette-Regular.ttf");
}

*{    
    margin: 0;
    padding: 0;
}
body{
    padding: 50px;
}
